In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from IPython.display import display
from datetime import datetime
import os
import random
from openpyxl import load_workbook
import re

In [2]:
file_path = 'B2B SaaS Companies and Contacts.xlsx' 
data = pd.read_excel(file_path)

In [3]:

display(data.head())

,Company Name,"City, State",Industry,Employees on Linkedin,Company Size,Anual Revenue,Website,Domain,Linkedin Link,Company ID
0,FloWorks,"Pasadena, Texas",Automation Machinery Manufacturing,123.0,"501-1,000 employees",$269.7M,www.gofloworks.com,gofloworks.com,https://www.linkedin.com/company/floworks-inte...,6623089.0
1,Riviana Foods,NaN,NaN,NaN,NaN,NaN,NaN,riviana.com,NaN,NaN
2,Nexeo Plastics,NaN,NaN,NaN,NaN,NaN,NaN,nexeoplastics.com,NaN,NaN
3,Kuraray America,NaN,NaN,NaN,NaN,NaN,NaN,kuraray.us.com,NaN,NaN
4,Puffer-Sweiven,NaN,NaN,NaN,NaN,NaN,NaN,puffer.com,NaN,NaN

In [ ]:
def get_linkedin_data(company_name):
    formatted_name = company_name.replace(' ', '-').lower()
    search_url = f"https://www.linkedin.com/company/{formatted_name}"
    
    try:
        headers = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
        }
        response = requests.get(search_url, headers=headers)
        
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            
            #Extract city,state
            city_state_elem = soup.find("div", {'data-test-id':'about-us__headquarters'}).find('dd') if soup.find('div', {'data-test-id': 'about-us__headquarters'}) else None
            city_state = city_state_elem.text.strip() if city_state_elem else 'N/A'
            
            #Extract Address
            address_elem = soup.find("div", id="address-0")
            if address_elem:
                paragraphs = address_elem.find_all('p')
                if len(paragraphs) > 1:
                    address = paragraphs[1].text.strip() 

            # Extract industry
            industry_elem = soup.find('h2', class_='top-card-layout__headline break-words font-sans text-md leading-open text-color-text')
            industry = industry_elem.text.strip() if industry_elem else 'N/A'

            # Extract employees count
            company_size_elem = soup.find('div', {'data-test-id': 'about-us__size'}).find('dd') if soup.find('div', {'data-test-id': 'about-us__size'}) else None
            company_size = company_size_elem.text.strip() if company_size_elem else 'N/A'
         
            # Extract company size
            employees_on_linkedin_elem = soup.find('p', class_="face-pile__text self-center font-sans text-sm link-styled hover:underline")
            employees_on_linkedin = employees_on_linkedin_elem.text.strip() if employees_on_linkedin_elem else 'N/A'
            
            # Extract annual revenue
            annual_revenue = 'N/A' 

            # Extract Website company
            website_elem = soup.find('a', class_='link-no-visited-state hover:no-underline')
            website = website_elem.text.strip() if website_elem else ''

            # Extract Domain
            domain = website.replace('https://', '').replace('http://', '').replace('www.', '') if website else 'N/A'
            
            # Extract LinkedIn link
            linkedin = search_url
            
            # Extract ID
            company_id = random.randint(1000000, 9999999)

            return city_state, address, industry, employees_on_linkedin, company_size, annual_revenue, website, domain, linkedin, company_id
        return 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', search_url, 'N/A'
    except Exception as e:
        print(f"Error fetching data for {company_name}: {e}")
        return 'Not found', 'Not found', 'Not found', 'Not found', 'Not found', 'Not found', 'Not found', 'Not found', search_url, 'Not found'

data[['City, State', 'Address', 'Industry', 'Employees on Linkedin', 'Company Size', 'Anual Revenue', 'Website', 'Domain', 'Linkedin Link', 'Company ID']] = data['Company Name'].apply(lambda x: pd.Series(get_linkedin_data(x)))

def save_to_excel(data, filename='enriched_company_data.xlsx'):
    if os.path.exists(filename):
        timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
        new_filename = f"{filename.rsplit('.', 1)[0]}_{timestamp}.xlsx"
        data.to_excel(new_filename, index=False)
        print(f"File already exists. Saved as {new_filename}")
    data.to_excel(filename, index=False)
    print(f"File saved as {filename}")
    new_filename = filename

    workbook = load_workbook(new_filename)
    worksheet = workbook.active

    for column in worksheet.columns:
        max_length = 0
        column_letter = column[0].column_letter
        for cell in column:
            if cell.value:
                max_length = max(max_length, len(str(cell.value)))
        adjusted_width = max_length + 2
        worksheet.column_dimensions[column_letter].width = adjusted_width

    workbook.save(new_filename)
    print(f"Adjusted column widths and saved file as {new_filename}")

save_to_excel(data)

Error fetching data for Riviana Foods: cannot access local variable 'address' where it is not associated with a value
Error fetching data for Silicon Labs: cannot access local variable 'address' where it is not associated with a value
Error fetching data for AZZ: cannot access local variable 'address' where it is not associated with a value
Error fetching data for Kraton: cannot access local variable 'address' where it is not associated with a value
Error fetching data for CECO: cannot access local variable 'address' where it is not associated with a value
Error fetching data for NI: cannot access local variable 'address' where it is not associated with a value
Error fetching data for Lexus: cannot access local variable 'address' where it is not associated with a value
Error fetching data for ChampionX: cannot access local variable 'address' where it is not associated with a value
Error fetching data for Arcosa: cannot access local variable 'address' where it is not associated with a value
File saved as enriched_company_data.xlsx
Adjusted column widths and saved file as enriched_company_data.xlsx

In [5]:
for index, row in data.iterrows():
    company_info = ", ".join([f"{col}: {row[col]}" for col in data.columns])
    print(f"{index}: {company_info}")

0: Company Name: FloWorks, City, State: Zuid-Scharwoude, North Holland, Industry: Business Consulting and Services, Employees on Linkedin: View 1 employee, Company Size: 1 employee, Anual Revenue: $269.7M, Website: http://www.floworks.eu, Domain: floworks.eu, Linkedin Link: https://www.linkedin.com/company/floworks, Company ID: 3505082, Address: Zuid-Scharwoude, North Holland 1722, NL, Annual Revenue: N/A
1: Company Name: Riviana Foods, City, State: Not found, Industry: Not found, Employees on Linkedin: Not found, Company Size: Not found, Anual Revenue: nan, Website: Not found, Domain: Not found, Linkedin Link: https://www.linkedin.com/company/riviana-foods, Company ID: Not found, Address: Not found, Annual Revenue: Not found
2: Company Name: Nexeo Plastics, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/nexeo-plastics, Company ID: N/A, Address: N/A, Annual Revenue: N/A
3: Company Name: Kuraray America, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/kuraray-america, Company ID: N/A, Address: N/A, Annual Revenue: N/A
4: Company Name: Puffer-Sweiven, City, State: Stafford, Texas, Industry: Automation Machinery Manufacturing, Employees on Linkedin: Access all 659 employees, Company Size: 501-1,000 employees, Anual Revenue: nan, Website: https://www.puffer.com, Domain: puffer.com, Linkedin Link: https://www.linkedin.com/company/puffer-sweiven, Company ID: 7009482, Address: Stafford, Texas 77477, US, Annual Revenue: N/A
5: Company Name: CRANE ChemPharma & Energy, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/crane-chempharma-&-energy, Company ID: N/A, Address: N/A, Annual Revenue: N/A
6: Company Name: Silicon Labs, City, State: Not found, Industry: Not found, Employees on Linkedin: Not found, Company Size: Not found, Anual Revenue: nan, Website: Not found, Domain: Not found, Linkedin Link: https://www.linkedin.com/company/silicon-labs, Company ID: Not found, Address: Not found, Annual Revenue: Not found
7: Company Name: Omnicell, City, State: Fort Worth, Texas, Industry: Hospitals and Health Care, Employees on Linkedin: Access all 3,354 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.omnicell.com, Domain: omnicell.com, Linkedin Link: https://www.linkedin.com/company/omnicell, Company ID: 7070391, Address: Fort Worth, Texas 76137, US, Annual Revenue: N/A
8: Company Name: DNOW, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/dnow, Company ID: N/A, Address: N/A, Annual Revenue: N/A
9: Company Name: HID Global, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/hid-global, Company ID: N/A, Address: N/A, Annual Revenue: N/A
10: Company Name: AZZ, City, State: Not found, Industry: Not found, Employees on Linkedin: Not found, Company Size: Not found, Anual Revenue: nan, Website: Not found, Domain: Not found, Linkedin Link: https://www.linkedin.com/company/azz, Company ID: Not found, Address: Not found, Annual Revenue: Not found
11: Company Name: KRONOS Worldwide, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/kronos-worldwide, Company ID: N/A, Address: N/A, Annual Revenue: N/A
12: Company Name: HMT, City, State: Gloucestershire, Industry: Real Estate, Employees on Linkedin: Access all 120 employees, Company Size: 2-10 employees, Anual Revenue: nan, Website: http://www.hmt.co.uk, Domain: hmt.co.uk, Linkedin Link: https://www.linkedin.com/company/hmt, Company ID: 9624332, Address: Cheltenham, Annual Revenue: N/A
13: Company Name: Natera, City, State: Austin, Texas, Industry: Biotechnology Research, Employees on Linkedin: View all 3,787 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.natera.com, Domain: natera.com, Linkedin Link: https://www.linkedin.com/company/natera, Company ID: 2856987, Address: Austin, Texas 78753, US, Annual Revenue: N/A
14: Company Name: Textron Systems, City, State: Haslet, Texas, Industry: Defense and Space Manufacturing, Employees on Linkedin: View all 2,044 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.textronsystems.com, Domain: textronsystems.com, Linkedin Link: https://www.linkedin.com/company/textron-systems, Company ID: 1311302, Address: Haslet, Texas 76177, US, Annual Revenue: N/A
15: Company Name: Signify Health, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/signify-health, Company ID: N/A, Address: N/A, Annual Revenue: N/A
16: Company Name: Elbit Systems of America, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/elbit-systems-of-america, Company ID: N/A, Address: N/A, Annual Revenue: N/A
17: Company Name: Cactus Wellhead, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/cactus-wellhead, Company ID: N/A, Address: N/A, Annual Revenue: N/A
18: Company Name: Kraton, City, State: Not found, Industry: Not found, Employees on Linkedin: Not found, Company Size: Not found, Anual Revenue: nan, Website: Not found, Domain: Not found, Linkedin Link: https://www.linkedin.com/company/kraton, Company ID: Not found, Address: Not found, Annual Revenue: Not found
19: Company Name: DXP Enterprises, City, State: FAIRMOUNT, Georgia, Industry: N/A, Employees on Linkedin: Discover all 10 employees, Company Size: 2-10 employees, Anual Revenue: nan, Website: Get directions, Domain: Get directions, Linkedin Link: https://www.linkedin.com/company/dxp-enterprises, Company ID: 4585122, Address: FAIRMOUNT, Georgia 30139, US, Annual Revenue: N/A
20: Company Name: SI Group, City, State: The Woodlands, Texas, Industry: Chemical Manufacturing, Employees on Linkedin: Discover all 1,723 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: https://www.siigroup.com, Domain: siigroup.com, Linkedin Link: https://www.linkedin.com/company/si-group, Company ID: 1908177, Address: Suite 600, Annual Revenue: N/A
21: Company Name: Quva, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/quva, Company ID: N/A, Address: N/A, Annual Revenue: N/A
22: Company Name: Ascend, City, State: Irvine, California, Industry: Public Relations and Communications Services, Employees on Linkedin: Discover all 20 employees, Company Size: 11-50 employees, Anual Revenue: nan, Website: https://www.ascendagency.com/, Domain: ascendagency.com/, Linkedin Link: https://www.linkedin.com/company/ascend, Company ID: 2902224, Address: Suite 880, Annual Revenue: N/A
23: Company Name: Hilti, City, State: Schaan, Industry: Construction, Employees on Linkedin: View all 27,037 employees, Company Size: 10,001+ employees, Anual Revenue: nan, Website: http://www.hilti.group, Domain: hilti.group, Linkedin Link: https://www.linkedin.com/company/hilti, Company ID: 6622641, Address: Feldkircherstrasse 100, Annual Revenue: N/A
24: Company Name: Powell Industries, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/powell-industries, Company ID: N/A, Address: N/A, Annual Revenue: N/A
25: Company Name: Carenet Healthcare Services, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/carenet-healthcare-services, Company ID: N/A, Address: N/A, Annual Revenue: N/A
26: Company Name: The Container Store, City, State: Coppell, Texas, Industry: Retail, Employees on Linkedin: Discover all 3,143 employees, Company Size: 5,001-10,000 employees, Anual Revenue: nan, Website: http://www.containerstore.com, Domain: containerstore.com, Linkedin Link: https://www.linkedin.com/company/the-container-store, Company ID: 6129784, Address: Coppell, Texas 75019, US, Annual Revenue: N/A
27: Company Name: Thermon, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/thermon, Company ID: N/A, Address: N/A, Annual Revenue: N/A
28: Company Name: symplr, City, State: Houston, Texas, Industry: Software Development, Employees on Linkedin: Access all 1,716 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.symplr.com, Domain: symplr.com, Linkedin Link: https://www.linkedin.com/company/symplr, Company ID: 4823261, Address: Houston, Texas 77002, US, Annual Revenue: N/A
29: Company Name: Kubota, City, State: Osaka, Industry: Machinery Manufacturing, Employees on Linkedin: Discover all 2,376 employees, Company Size: 10,001+ employees, Anual Revenue: nan, Website: http://www.kubota.com, Domain: kubota.com, Linkedin Link: https://www.linkedin.com/company/kubota, Company ID: 6873327, Address: 1-Chome, Annual Revenue: N/A
30: Company Name: Orthofix, City, State: Lewisville, TX, Industry: Medical Equipment Manufacturing, Employees on Linkedin: Access all 1,910 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.orthofix.com, Domain: orthofix.com, Linkedin Link: https://www.linkedin.com/company/orthofix, Company ID: 3868696, Address: Lewisville, TX 75056, US, Annual Revenue: N/A
31: Company Name: ProFrac, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/profrac, Company ID: N/A, Address: N/A, Annual Revenue: N/A
32: Company Name: Horizon Health, City, State: Lewisville, Texas, Industry: Hospitals and Health Care, Employees on Linkedin: View all 722 employees, Company Size: 501-1,000 employees, Anual Revenue: nan, Website: http://www.horizonhealth.com, Domain: horizonhealth.com, Linkedin Link: https://www.linkedin.com/company/horizon-health, Company ID: 6296302, Address: Lewisville, Texas 75057, US, Annual Revenue: N/A
33: Company Name: Madix, City, State: Wadowice, małopolskie, Industry: Retail, Employees on Linkedin: Access all 37 employees, Company Size: 51-200 employees, Anual Revenue: nan, Website: http://madix.com.pl, Domain: madix.com.pl, Linkedin Link: https://www.linkedin.com/company/madix, Company ID: 4488091, Address: Wadowice, małopolskie 34-100, PL, Annual Revenue: N/A
34: Company Name: Interstate Batteries, City, State: Dallas, Texas, Industry: Manufacturing, Employees on Linkedin: Access all 2,127 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: https://www.interstatebatteries.com, Domain: interstatebatteries.com, Linkedin Link: https://www.linkedin.com/company/interstate-batteries, Company ID: 4741106, Address: #1000, Annual Revenue: N/A
35: Company Name: Farouk Systems, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/farouk-systems, Company ID: N/A, Address: N/A, Annual Revenue: N/A
36: Company Name: YETI, City, State: Austin, TX, Industry: Manufacturing, Employees on Linkedin: View all 1,916 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.yeti.com, Domain: yeti.com, Linkedin Link: https://www.linkedin.com/company/yeti, Company ID: 1091000, Address: Austin, TX 78735, US, Annual Revenue: N/A
37: Company Name: Quanex Building Products, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/quanex-building-products, Company ID: N/A, Address: N/A, Annual Revenue: N/A
38: Company Name: MRC Global, City, State: Houston, Texas, Industry: Oil and Gas, Employees on Linkedin: Access all 3,170 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: https://www.mrcglobal.com, Domain: mrcglobal.com, Linkedin Link: https://www.linkedin.com/company/mrc-global, Company ID: 2745940, Address: Suite 2300, Annual Revenue: N/A
39: Company Name: Agilon Health, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/agilon-health, Company ID: N/A, Address: N/A, Annual Revenue: N/A
40: Company Name: C.H. Guenther & Son, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/c.h.-guenther-&-son, Company ID: N/A, Address: N/A, Annual Revenue: N/A
41: Company Name: Mitsubishi Logisnext Americas, City, State: Houston, Texas, Industry: Machinery Manufacturing, Employees on Linkedin: Access all 684 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.logisnextamericas.com, Domain: logisnextamericas.com, Linkedin Link: https://www.linkedin.com/company/mitsubishi-logisnext-americas, Company ID: 9828732, Address: Houston, Texas 77043, US, Annual Revenue: N/A
42: Company Name: CECO, City, State: Not found, Industry: Not found, Employees on Linkedin: Not found, Company Size: Not found, Anual Revenue: nan, Website: Not found, Domain: Not found, Linkedin Link: https://www.linkedin.com/company/ceco, Company ID: Not found, Address: Not found, Annual Revenue: Not found
43: Company Name: Victory Packaging, City, State: Houston, TX, Industry: Packaging and Containers Manufacturing, Employees on Linkedin: View all 1,324 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.victorypackaging.com, Domain: victorypackaging.com, Linkedin Link: https://www.linkedin.com/company/victory-packaging, Company ID: 6482957, Address: Ste. 1400, Annual Revenue: N/A
44: Company Name: James Avery Artisan Jewelry, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/james-avery-artisan-jewelry, Company ID: N/A, Address: N/A, Annual Revenue: N/A
45: Company Name: American Bath Group, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/american-bath-group, Company ID: N/A, Address: N/A, Annual Revenue: N/A
46: Company Name: Shaw Group, City, State: Houston, TX, Industry: Oil and Gas, Employees on Linkedin: Access all 406 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.theshawgrp.com, Domain: theshawgrp.com, Linkedin Link: https://www.linkedin.com/company/shaw-group, Company ID: 3908594, Address: Houston, TX 77070, US, Annual Revenue: N/A
47: Company Name: Trillium Flow Technologies, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/trillium-flow-technologies, Company ID: N/A, Address: N/A, Annual Revenue: N/A
48: Company Name: The Reynolds Company, City, State: Fort Worth, TX, Industry: Wholesale, Employees on Linkedin: Discover all 445 employees, Company Size: 201-500 employees, Anual Revenue: nan, Website: https://www.reynoldsonline.com/, Domain: reynoldsonline.com/, Linkedin Link: https://www.linkedin.com/company/the-reynolds-company, Company ID: 2746986, Address: Fort Worth, TX 76137, US, Annual Revenue: N/A
49: Company Name: Carrier Enterprise, City, State: Charlotte, North Carolina, Industry: Wholesale Building Materials, Employees on Linkedin: Discover all 1,898 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://carrierenterprise.com/, Domain: carrierenterprise.com/, Linkedin Link: https://www.linkedin.com/company/carrier-enterprise, Company ID: 6004524, Address: Charlotte, North Carolina 28208, US, Annual Revenue: N/A
50: Company Name: Sinomax USA, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/sinomax-usa, Company ID: N/A, Address: N/A, Annual Revenue: N/A
51: Company Name: Borden Dairy, City, State: Austin, Texas, Industry: N/A, Employees on Linkedin: Discover all 69 employees, Company Size: 2-10 employees, Anual Revenue: nan, Website: https://www.bordendairy.com, Domain: bordendairy.com, Linkedin Link: https://www.linkedin.com/company/borden-dairy, Company ID: 7726872, Address: Austin, Texas 78702, US, Annual Revenue: N/A
52: Company Name: Continental Battery Systems, City, State: Dallas, Texas, Industry: Manufacturing, Employees on Linkedin: Discover all 603 employees, Company Size: 501-1,000 employees, Anual Revenue: nan, Website: https://www.gocbs.com/, Domain: gocbs.com/, Linkedin Link: https://www.linkedin.com/company/continental-battery-systems, Company ID: 4461982, Address: Suite 600 South, Annual Revenue: N/A
53: Company Name: Kendra Scott, City, State: Austin, TX, Industry: Retail Luxury Goods and Jewelry, Employees on Linkedin: View all 2,164 employees, Company Size: 1,001-5,000 employees, Anual Revenue: nan, Website: http://www.kendrascott.com, Domain: kendrascott.com, Linkedin Link: https://www.linkedin.com/company/kendra-scott, Company ID: 2330394, Address: Ste 400, Annual Revenue: N/A
54: Company Name: Essilor of America, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/essilor-of-america, Company ID: N/A, Address: N/A, Annual Revenue: N/A
55: Company Name: Visual Comfort AERIN Babette, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/visual-comfort-aerin-babette, Company ID: N/A, Address: N/A, Annual Revenue: N/A
56: Company Name: Warren CAT, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/warren-cat, Company ID: N/A, Address: N/A, Annual Revenue: N/A
57: Company Name: Igloo Coolers, City, State: N/A, Industry: N/A, Employees on Linkedin: N/A, Company Size: N/A, Anual Revenue: nan, Website: N/A, Domain: N/A, Linkedin Link: https://www.linkedin.com/company/igloo-coolers, Company ID: N/A, Address: N/A, Annual Revenue: N/A
58: Company Name: Lennox, City, State: Richardson, TX, Industry: Manufacturing, Employees on Linkedin: Discover all 5,924 employees, Company Size: 10,001+ employees, Anual Revenue: nan, Website: http://www.lennox.com, Domain: lennox.com, Linkedin Link: https://www.linkedin.com/company/lennox, Company ID: 2749739, Address: Richardson, TX 75080, US, Annual Revenue: N/A

In [6]:
display(data)

,Company Name,"City, State",Industry,Employees on Linkedin,Company Size,Anual Revenue,Website,Domain,Linkedin Link,Company ID,Address,Annual Revenue
0,FloWorks,"Zuid-Scharwoude, North Holland",Business Consulting and Services,View 1 employee,1 employee,$269.7M,http://www.floworks.eu,floworks.eu,https://www.linkedin.com/company/floworks,3505082,"Zuid-Scharwoude, North Holland 1722, NL",N/A
1,Riviana Foods,Not found,Not found,Not found,Not found,NaN,Not found,Not found,https://www.linkedin.com/company/riviana-foods,Not found,Not found,Not found
2,Nexeo Plastics,N/A,N/A,N/A,N/A,NaN,N/A,N/A,https://www.linkedin.com/company/nexeo-plastics,N/A,N/A,N/A
3,Kuraray America,N/A,N/A,N/A,N/A,NaN,N/A,N/A,https://www.linkedin.com/company/kuraray-america,N/A,N/A,N/A
4,Puffer-Sweiven,"Stafford, Texas",Automation Machinery Manufacturing,Access all 659 employees,"501-1,000 employees",NaN,https://www.puffer.com,puffer.com,https://www.linkedin.com/company/puffer-sweiven,7009482,"Stafford, Texas 77477, US",N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
68,Oldcastle BuildingEnvelope,"Dallas, TX",Wholesale Building Materials,"Discover all 1,836 employees","5,001-10,000 employees",NaN,http://www.obe.com/,obe.com/,https://www.linkedin.com/company/oldcastle-bui...,1049942,Suite 1050,N/A
69,Trinity Industries,"Dallas, Texas",Manufacturing,"Discover all 3,694 employees","10,001+ employees",NaN,http://jobs.trin.net,jobs.trin.net,https://www.linkedin.com/company/trinity-indus...,9171619,"Dallas, Texas 75254, US",N/A
70,ATI,N/A,N/A,N/A,N/A,NaN,N/A,N/A,https://www.linkedin.com/company/ati,N/A,N/A,N/A
71,Matheson Tri-Gas,N/A,N/A,N/A,N/A,NaN,N/A,N/A,https://www.linkedin.com/company/matheson-tri-gas,N/A,N/A,N/A
72,Arcosa,Not found,Not found,Not found,Not found,NaN,Not found,Not found,https://www.linkedin.com/company/arcosa,Not found,Not found,Not found